.search-results {
    margin-top: 40px;
    text-align: center;
}

.search-results-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.search-results-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search-results-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.search-results-poster {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.search-results-title {
    margin-top: 10px;
    font-size: 1.2em;
}

.no-results {
    margin-top: 20px;
    color: #999;
}
